@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --color-primary: #3F51B5;
    --color-secondary: #9C27B0;
    --color-accent: #F8BBD0;
    --color-neutral: #CFD8DC;
    --color-dark-accent: #512DA8;
  }
